

<% @couches.each do |couch| %>
  <p> <%= link_to couch.title, couch_path(couch) %> </p>
  <p> <%= couch.address %> </p>
  <p> <%= couch.price %> </p>
  <p> <%= couch.photo %> </p>
<% end %>

<%= link_to "Make a new couch", new_couch_path %>
